server {                            
    listen 80;                       # Sluša saobraćaj na portu 80 (standardni web port)
    
    server_name _;                   # Prihvata sve adrese/domene, ne moraš da znaš ime sajta svog sajta

    root /usr/share/nginx/html;      # Direktorijum gde su fajlovi tvoje aplikacije (tvoj build folder)
    index index.html;                # Kada neko otvori sajt, pokaži index.html

    location / {                      
        try_files $uri /index.html;  # Ako traženi fajl ne postoji, pokaži index.html (recimo ukoliko se ukuca ruta koja ne postoji)
    }
}                                  